.modal {
    opacity:0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    transition: opacity .5s;
    transform: translate(0, 100%);
}
.modalInner {
    position: relative;
    width: calc(100% - 100px);
    margin: 60px auto;
    padding: 32px;
    background: #fff;
    border-radius: 15px;
    z-index: 1000;
}
.modalInner .closeBtn {
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 12px;
}
.modal .closeBack {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 999;
}

/* ここを増やしていく */
#modalOne:target,
#modalTwo:target,
#modalThree:target {
  opacity: 1;
  transform: translate(0,0);
}